//$navbar-height: 80px;
$navbar-border-radius:  0;
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;
$font-size-base:        18px;
$brand-primary:         #ff3f3f;
$brand-info:            #26b0c4;
$body-bg:               rgb(7,23,80);
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}
$well-bg:               tint($body-bg, 15%);
@import 'variables'; /* set as part of the bootswatch theme, darkly */
@import 'bootstrap';
@import 'bootswatch'; /* theme from bootswatch, pick any one you like! */
body { font-weight: 400; }
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: ($line-height-computed);
  margin-bottom: ($line-height-computed);
}

/* navbar */
.navbar {
  text-align: center;
  &.first {
    margin-bottom: 0;
    .navbar-header { float: none; }
  }
  &.second { min-height: 0; }
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}
.navbar-brand {
  &.title {
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
/* footer */
footer {
  @extend .well, .text-center;
  margin: 0;
  border-radius: 0;
  .copyright { margin: 20px; }
  a.btn { margin: 0.5em; }
}
/* affix sidebar code. will break if you change grid sizes. */
@media (max-width: 991px) {
  .container.content { padding-bottom: 20px; }
  .affix, .affix-top, .affix-bottom { position: static; }
}
@media (min-width: 992px) {
  .container.content { padding-bottom: 50px; }
  .affix {
    top: 21px;
    width: 374.156px;
  }
  .affix-bottom {
    position: absolute;
    width: 374.156px;
  }
}
@media (min-width: 1200px) {
  .affix, .affix-bottom {
    width: 457.5px;
  }
}
/* form */
.form-heading { margin-top: 0; }
.form-container { margin-bottom: 50px; }
.progress.with-text { margin-bottom: 0; }
#can_embed_form_inner > h3, #can_embed_form_inner > h4 { display: none; }
#can_embed_form.can_float #can_embed_form_inner {
  #form_col1, #form_col2 { float: auto; width: 100%; }
}
#can_embed_form #form_col2 input[type=submit] {
  @extend .btn, .btn-lg, .btn-primary, .btn-block;
  margin-bottom: 0.8em;
  border-radius: 4px
}
.text-white { color: $text-color; }
